#mainNav .navbar-toggler {
    padding: 0.70
    
    rem;
    font-size: 0.75rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    font-weight: 700;
}

.img-logo{
    width: 20%;
}

.nav-item .nav-link{
    color:  white;
}

header.masthead {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #fff;
    background-image: url(img/header-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

header.masthead .masthead-heading {
    font-size: 3.70rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-top: 40px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header.masthead .masthead-subheading {
    font-size: 2rem;
    font-style: italic;
    line-height: 1.5rem;
    margin-top: 10px;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.button1{
    background-color: #FFC800 ;
    color: white;
    text-transform: uppercase !important;
    font-weight: bold;
    padding: 1.25rem 2.5rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 700;
    background-color: #FFC800;
    border-radius: 10px;
    margin-top: 70px;
}

.masthead{
    height: 100vh;
    margin-top: 30px;
}



.divv1{
    margin-top: 10%;
}

.section2{
    /* height: 100vh; */
    background-color: rgb(248,249,250);
}

#portfolio .portfolio-item .portfolio-caption {
    padding: 1.5rem;
    text-align: center;
    background-color: #fff;
}

.portfolio-caption-heading, .portfolio-caption-subheading{
    text-align: center;
}

.portfolio-item{
    background-color: #fff;
}

.timeline{
    position: relative;
    padding: 0;
    list-style: none;
}

.time-img{
    text-align: center;
}

.timeline li .time-img{
position: absolute;
z-index: 100;
left: 0;
width: 80px;
height: 80px;
margin-left: 0;
text-align: center;
color: white;
border: 7px solid #e9ecef;
border-radius: 100%;
background-color: #ffc800;
}

.timeline li.time-inverser .time-panel{
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.member img{
    width: 14rem;
    height: 14rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
}

.btn-social{
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 100%;
}

.page-section{
    height: 100vh;
}

.img-site{
    width: 60%;
}

.fa-stack-2x {
    font-size: 1em;
}

.circle {
    color: #ffc800 !important;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #ffc800;
}

.section8{
    background-color: #212529;
    background-image: url(img/map-image.png);
    background-repeat: no-repeat;
    background-position: center;
}

.section8{
        padding: 6rem 0;
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

  .timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: #e9ecef;
}

  .timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
}

  .timeline > li:after, .timeline > li:before {
    display: table;
    content: " ";
}

  .timeline > li:after {
    clear: both;
}

  .timeline > li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    
    text-align: left;
}
  .timeline > li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

  .timeline > li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

  .timeline > li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid #e9ecef;
    border-radius: 100%;
    background-color: #ffc800;
}

  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;
}

  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

  .timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

  .timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

  .timeline > li:last-child {
    margin-bottom: 0;
}

  .timeline .timeline-heading h4, .timeline .timeline-heading .h4 {
    margin-top: 0;
    color: inherit;
}

  .timeline .timeline-heading h4.subheading, .timeline .timeline-heading .subheading.h4 {
    text-transform: none;
}

  .timeline .timeline-body > ul,
  .timeline .timeline-body > p {
    margin-bottom: 0;
}

  .page-section{
    height: 150vh;
}

  form{
    display: flex;
}

textarea{
    height: 100%;
    min-height: 12rem;
}

.form-gr{
    height: auto;
    padding: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    display: flex
;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 200, 0, 0.9);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity ease-in-out 0.25s;
}
*, *::before, *::after {
    box-sizing: border-box;
}
